.mainItems {
    display: grid;
    color: bisque;
    padding: 5px;
    grid-row-gap: 5px;
    grid-template-areas:
     "q"
     "b"
     "r";
    background-image: url("https://images.wallpaperscraft.com/image/starry_sky_galaxy_space_130964_2560x1600.jpg");
}

.question {
    grid-area: q;
    text-align: center;
    padding-top: 10px;
    align-self: start;
}

.q1{
    padding-top: 20px;
}

.button {
    grid-area: b;
    text-align: center;
    height: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.link a {
    text-decoration: none;
    color: bisque;
}

.button button {
    background-color: goldenrod;
    border-radius: 30px;
    padding: 10px 35px;
    overflow:hidden;
}

.button button:hover {
    background-color: #eac361;
    border-radius: 30px;
    border: solid 2px black;
    left: 7px;
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.result {
    grid-area: r;
    text-align: center;
    margin-top: 40px;
}

.result img{
    width: 400px;
    margin-top: 20px;
}

