.headerItems {
    display: grid;
    text-align: center;
    font-style: italic;
    color: bisque;
    grid-template-rows: 30px 100px 350px 30px ;
    grid-template-areas:
        "ti"
        "ht"
        "ci"
        "bi";
    background-image: url("https://images.wallpaperscraft.com/image/starry_sky_galaxy_space_130964_2560x1600.jpg");
}

.headerText{
    grid-area: ht;
    padding-bottom: 100px;
}

.catImage {
    grid-area: ci;
}

/*.headerItems img{*/
/*    max-width: 900px;*/
/*}*/

.headerItems img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topImage {
    grid-area: ti;
}

.botomImage{
    grid-area: bi;
}
