.headerItems {
    display: grid;
    text-align: center;
    font-style: italic;
    color: bisque;
    grid-template-rows: 0.05fr 0.40fr 1fr 3fr 0.05fr ;
    grid-template-areas:
        "ti"
        "ht"
        "ci"
        "li"
        "bi";
    background-image: url("https://images.wallpaperscraft.com/image/starry_sky_galaxy_space_130964_2560x1600.jpg");
}

.headerTitle{
    grid-area: ht;
}

.catImage {
    grid-area: ci;
}


.headerItems img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topImage {
    grid-area: ti;
}

.bottomImage{
    grid-area: bi;
}

.link {
    margin-top: 90px;
    grid-area: li;
}

.link a {
    text-decoration: none;
    color: bisque;
}

