.question {
    grid-area: q;
    text-align: center;
    padding-top: 10px;
    align-self: start;
}

.q1{
    padding-top: 20px;
}

.button_right {
    /*text-align: center;*/
    /*height: 20px;*/

    margin-left: 30px;
}

.button_left {

}
