.app-wrapper {
  display: grid;
  grid-template-areas:
  "lp c rp";
  /*grid-template-rows: 6fr 6fr;*/
  grid-template-columns: 0.20fr 4fr 0.20fr;
  background-image: url("https://images.wallpaperscraft.com/image/starry_sky_galaxy_space_130964_2560x1600.jpg");
}

.app-wrapper-content {
  grid-area: c;
}