.app-wrapper {
  display: grid;
  height: auto;
  padding-bottom: 200px;
  grid-template-areas:
  "lp h rp"
  "lp c rp";
  grid-template-rows: 500px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  color: azure;
}

.app-wrapper-content {
  grid-area: c;
}