.app-wrapper {
  display: grid;
  /*min-width: 1200px;*/
  grid-template-areas:
  "lp h rp"
  "lp c rp";
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  color: azure;
  background-image: url("https://images.wallpaperscraft.com/image/starry_sky_galaxy_space_130964_2560x1600.jpg");
}

.app-wrapper-content {
  grid-area: c;
}